<div id="<%= dom_id author %>" class="list-group-item list-group-item-action">

  <div class="row">

    <%= link_to author, class: 'col text-reset text-decoration-none' do %>
      <div class="d-flex justify-content-between align-items-center ">
        <%= author.full_display %>

        <span class="badge"><%= author.book_count %></span>

      </div>
    <% end %>
  </div>
</div>
