<div class="progress-bar bg-<%= book.status_class %>" role="progressbar"
     style="width: <%= number_to_percentage(book.translation_progress_percent, precision: 0) %>"
     aria-valuenow="<%= book.translation_progress_percent.round %>" aria-valuemin="0" aria-valuemax="100">
</div>